.inner-container{
    color:white;
    background-color: cadetblue;
    display: flex;
    margin-left:auto;
    margin-right: auto;
    height:80vh;
    width:80vw;
    /* align-content:stretch; */
}
.inner-container *{
    margin:0.3em;
}
.wrapper-right{
    width:80%;
    display:flex;
    flex-direction: column;
    border: 1px solid red;
}
.wrapper-left{
    display:flex;
    width:20%;  
    height:98%;
    border: 1px solid red;
}
/* .patient-list{
    background-color:red;
    height:40%;
    align-self: stretch;

} */
.doctor-list{
    background-color:gray;
   
}
.health-insurance-box{
    background-color:blue;
    height:20%;
}
.profile-header{
    background-color:darkkhaki;
    height:10%;
}
.schedule{
    background-color: fuchsia;
    flex:1;
    
}