.container{
	background-color: greenyellow;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows:0.3fr 2fr;
	height:100%;
	width:95%;
	max-height: 100%;
	max-width: 100%;
	text-align: center;

}
.container *{
	border:1px solid  black;
}
.header{
	background-color:orange;
	width:97%;
	text-align: center;
}
.content{
	background-color:green;
	overflow-y: scroll;
}
input{
	width:90%;
}
table
{
	width:95%;
	text-align: center;
}
table thead th{
	background-color:grey;
	color:white;
}
table tr{
	background-color: pink;
	color: black;
}
table tr:hover{
	color:white;
	background-color: green;
}