
.blank{
    background-color: grey;
}
.current-day{
    background-color: navajowhite;
}
.selected-day{
    background-color: aqua;
}
.calendar-container{
    background-color: palevioletred;
    display: flex;
    flex-direction:column;
    height:100%;
}
.top-bar{
    display: flex;
    flex:1;
    justify-content: space-between;
    background-color:gray;
    max-height:10% !important;
    text-align: center;
}
.days-row{
    flex:1;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    background-color:goldenrod;
    align-items: center;
    border: 1px solid black;
    max-height:10%;
    padding:0px;
    text-align: center;


}
.days-grid{
    flex:1;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    background-color: darkolivegreen;
    column-gap:2px;
    row-gap:2px; 
}
.days-grid div{
    border:1px solid black;
    text-align: center;
}
.top-bar div:nth-child(n){
    border:1px solid black;
}
.days-row div:nth-child(n){
    color: white;
    margin: 2px;
    border: salmon 1px solid;
    
}
.month,.year,.description{
    width:35%;
    height:90%;

}

.decoration-gold{
    border:2px solid gold;
    background-color:white;
    color: blacK;
    font-weight: bold;
    font-size:80%;
    display:flex;
    align-items:center;
    justify-content:center;

}

.month:hover,.year:hover, .day:hover{
    background-color:rgb(171, 95, 247);
    cursor: pointer;
}
.invisible{
    visibility: hidden;
}
.visible{
    visibility: visible;
}

.month-modal{
    position:absolute;
    top:12vh;
    z-index:5;
    background-color: coral;
    text-align:center;
    width:10vw;
    overflow-y:scroll;
    height:50vh;
}
.month-modal ul li:hover{
    background-color: cyan;
    color:black;
    border:1px solid chartreuse;
    cursor:pointer;
}

.cursor-pointer{
    cursor:pointer;
}

.year-modal{
    position:absolute;
    top:12vh;
    left:65vw;
    z-index:5;
    width:10vw;
    background-color: coral;
    text-align:center;
    overflow-y:scroll;
    height:50vh;
}
.year-modal ul li:hover{
    background-color: cyan;
    color:black;
    border:1px solid chartreuse;
}