
.blank{
    background-color: grey;
}
.current-day{
    background-color: navajowhite;
}
.isAppo{
}
.count{
    border-radius: 50%;
    background-color: rgb(172, 184, 219);
    color:white;
    font-size:1em;
    position: absolute;
    width:20px;
    height:20px;
}
.selected-day{
    background-color: rgb(31, 236, 4);
}
.calendar-container{
    background-color: rgb(202, 233, 220);
    display: flex;
    flex-direction:column;
    height:100%;
}
.top-bar{
    display: flex;
    flex:1;
    justify-content: space-between;
    background-color:gray;
    max-height:10% !important;
    text-align: center;
}
.days-row{
    flex:1;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    background-color:goldenrod;
    align-items: center;
    border: 1px solid black;
    max-height:10%;
    padding:0px;
    text-align: center;


}
.days-grid{
    flex:1;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    background-color: darkolivegreen;
    column-gap:2px;
    row-gap:2px; 
}
.days-grid div{
    border:1px solid black;
    text-align: center;
}
.top-bar div:nth-child(n){
    border:1px solid black;
}
.days-row div:nth-child(n){
    color: white;
    margin: 2px;
    border: salmon 1px solid;
    
}
.month,.year,.selected-doctor{
    width:35%;
    height:90%;

}

.month:hover,.year:hover, .day:hover{
    background-color:rgb(171, 95, 247);
    cursor: pointer;
}
.invisible{
    visibility: hidden;
}
.visible{
    visibility: visible;
    animation: deelay 2s ease-in;
    @keyframes deelay{
        100%{visibility: hidden !important;}
    }
}
.back-op{
    width:100vw;
    height:100vh;
    z-index:50;
    background-color:rgb(169, 200, 236);
    opacity: 1;
}
.month-modal{
    position: absolute;
    background-color: coral;
    width: 25%;
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    overflow-y:scroll;
    overflow-x:hidden;
    height:70%;
    padding:0;
    z-index:45;
}
.month-modal :nth-child(n){
    border:none;
    border-style: none;
}

.cursor-pointer{
    cursor:pointer;
}

.year-modal{
    position:absolute;
    width:25%;
    left:72%;
    background-color: coral;
    text-align:center;
    display:flex;
    padding:0;
    overflow-y:scroll;
    height:70%;
    flex-direction:column;
    flex-wrap: nowrap;
    overflow-x:hidden;
    z-index:45;
}